.navbar {
  margin-bottom: 0px; }
  .navbar .navbar-inner {
    -webkit-font-smoothing: antialiased;
    border-radius: 0px; }

.footer {
  margin-top: 2em;
  border-top: 1px solid #efefef;
  padding-top: 1em;
  text-align: center; }

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.sequence {
  font-family: courier; }

body .navbar li > a, body .navbar .brand {
  color: black; }
body .scrolly-column .scrolly-section {
  min-height: 300px;
  margin-left: 20px;
  margin-bottom: 100px; }
  body .scrolly-column .scrolly-section:first-child .header-back {
    display: none; }
  body .scrolly-column .scrolly-section .header-oneword {
    display: inline; }
  body .scrolly-column .scrolly-section .header-description {
    display: inline;
    vertical-align: bottom;
    margin-left: 1em; }

.section {
  padding: .5em; }

.section.bad {
  border: 1px solid rgba(255, 0, 0, 0.3); }
  .section.bad .header {
    color: red; }

.section.good {
  border: 1px solid rgba(0, 255, 0, 0.3); }
  .section.good .header {
    color: green; }

.inactive {
  opacity: .25;
  pointer-events: none; }

#navparent {
  width: 0px;
  height: 0px;
  display: inline-block;
  position: fixed;
  left: 0px;
  top: 50%;
  margin-top: -56px; }

.bs-docs-sidenav {
  width: 128px;
  margin: 0px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065); }

.bs-docs-sidenav > li > a {
  display: block;
  width: 90px 9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5; }

.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25; }

.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1; }

.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1); }

a {
  cursor: pointer; }
