/* line 7, ../sass/include/spacers.scss */
.high-quality {
  border-left: 5px solid green;
}

/* line 10, ../sass/include/spacers.scss */
.medium-quality {
  border-left: 5px solid yellow;
}

/* line 13, ../sass/include/spacers.scss */
.low-quality {
  border-left: 5px solid red;
}

/* line 16, ../sass/include/spacers.scss */
.no-quality {
  border-left: 5px solid lightgray;
}

/* line 20, ../sass/include/spacers.scss */
.guide-quality {
  box-sizing: border-box;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 27, ../sass/include/spacers.scss */
.guide-quality > div {
  padding-left: 10px;
}

/* line 31, ../sass/include/spacers.scss */
.annotation {
  opacity: 0.4;
}

/* line 37, ../sass/include/spacers.scss */
.spacer-v-container {
  margin-left: 20px;
}

/* line 42, ../sass/include/spacers.scss */
.col-tables-area {
  white-space: nowrap;
}
/* line 44, ../sass/include/spacers.scss */
.col-tables-area .col {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  display: inline-block;
  vertical-align: text-top;
}
/* line 50, ../sass/include/spacers.scss */
.col-tables-area .col.left {
  width: 400px;
  padding-left: 20px;
  z-index: 1;
}
/* line 55, ../sass/include/spacers.scss */
.col-tables-area .col.right {
  width: 100%;
  margin-left: -400px;
  padding-right: 20px;
  padding-left: 420px;
  z-index: 0;
}

/* line 65, ../sass/include/spacers.scss */
.job-list-v {
  box-sizing: border-box;
  min-height: 600px;
}
/* line 73, ../sass/include/spacers.scss */
.job-list-v table {
  width: 100%;
  margin-right: 10px;
  border-right: 1px dotted rgba(0, 0, 0, 0.1);
}
/* line 78, ../sass/include/spacers.scss */
.job-list-v table tr.list-row {
  border-bottom-width: 0px;
  border-left-width: 5px;
  border-top-width: 0px;
}
/* line 82, ../sass/include/spacers.scss */
.job-list-v table tr.list-row th, .job-list-v table tr.list-row td {
  padding-left: 10px;
}
/* line 84, ../sass/include/spacers.scss */
.job-list-v table tr.list-row th:not(:last-child), .job-list-v table tr.list-row td:not(:last-child) {
  padding-right: 10px;
}
/* line 86, ../sass/include/spacers.scss */
.job-list-v table tr.list-row th {
  text-align: center;
}
/* line 92, ../sass/include/spacers.scss */
.job-list-v table tr.spacer-list-v.active {
  border-right: 1px solid black;
  background-color: rgba(0, 0, 0, 0.05);
}
/* line 98, ../sass/include/spacers.scss */
.job-list-v table tr.nickase-list-v {
  cursor: pointer;
}
/* line 99, ../sass/include/spacers.scss */
.job-list-v table tr.nickase-list-v:not(.active) {
  opacity: .25;
}
/* line 103, ../sass/include/spacers.scss */
.job-list-v table tr.nickase-list-v.active {
  border-right: 1px solid black;
  background-color: rgba(0, 0, 0, 0.05);
}

/* line 114, ../sass/include/spacers.scss */
.qscore {
  font-weight: bold;
  color: blue;
}

/* line 120, ../sass/include/spacers.scss */
.spacer-h-v-container .info {
  display: inline-block;
}
/* line 122, ../sass/include/spacers.scss */
.spacer-h-v-container .info dl.header {
  margin-top: 8px;
  margin-bottom: 8px;
}
/* line 126, ../sass/include/spacers.scss */
.spacer-h-v-container .info dl {
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
  box-sizing: border-box;
}
/* line 131, ../sass/include/spacers.scss */
.spacer-h-v-container .info dl dt, .spacer-h-v-container .info dl dd {
  display: inline;
}
/* line 134, ../sass/include/spacers.scss */
.spacer-h-v-container .info dl dt:not(:first-child) {
  margin-left: 15px;
  font-weight: bold;
}
/* line 138, ../sass/include/spacers.scss */
.spacer-h-v-container .info dl dd {
  margin-left: 2px;
}
/* line 144, ../sass/include/spacers.scss */
.spacer-h-v-container .spacer-h-view .table-type-selection {
  display: block;
}
/* line 146, ../sass/include/spacers.scss */
.spacer-h-v-container .spacer-h-view .table-type-selection .hspace-80 {
  height: 0px;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 10px;
  border-top: 1px dotted rgba(0, 0, 0, 0.25);
  width: 140px;
  display: inline-block;
}
/* line 155, ../sass/include/spacers.scss */
.spacer-h-v-container .spacer-h-view .table-type-selection input {
  margin-top: -1px;
  margin-right: 10px;
  margin-left: 10px;
}
/* line 161, ../sass/include/spacers.scss */
.spacer-h-v-container .spacer-h-view .hits {
  margin-top: 20px;
}
/* line 164, ../sass/include/spacers.scss */
.spacer-h-v-container .spacer-h-view .hits.top table.gene {
  display: none;
}
/* line 169, ../sass/include/spacers.scss */
.spacer-h-v-container .spacer-h-view .hits.gene table.top {
  display: none;
}
/* line 173, ../sass/include/spacers.scss */
.spacer-h-v-container .spacer-h-view .hits table {
  width: 100%;
}
/* line 175, ../sass/include/spacers.scss */
.spacer-h-v-container .spacer-h-view .hits table th, .spacer-h-v-container .spacer-h-view .hits table td {
  padding-right: 10px;
}
/* line 176, ../sass/include/spacers.scss */
.spacer-h-v-container .spacer-h-view .hits table th:nth-child(even), .spacer-h-v-container .spacer-h-view .hits table td:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.02);
}
/* line 180, ../sass/include/spacers.scss */
.spacer-h-v-container .spacer-h-view .hits table th:not(:first-child), .spacer-h-v-container .spacer-h-view .hits table td:not(:first-child) {
  padding-left: 10px;
}
/* line 183, ../sass/include/spacers.scss */
.spacer-h-v-container .spacer-h-view .hits table th {
  text-align: center;
}
/* line 186, ../sass/include/spacers.scss */
.spacer-h-v-container .spacer-h-view .hits table td {
  font-family: courier;
  white-space: nowrap;
}
/* line 189, ../sass/include/spacers.scss */
.spacer-h-v-container .spacer-h-view .hits table td.sequence, .spacer-h-v-container .spacer-h-view .hits table td.score, .spacer-h-v-container .spacer-h-view .hits table td.locus, .spacer-h-v-container .spacer-h-view .hits table td.gene {
  text-align: center;
}

/* line 3, ../sass/include/job.scss */
.job-v .job-title {
  line-height: 32px;
  position: relative;
  display: inline-block;
}
/* line 8, ../sass/include/job.scss */
.job-v .show-info {
  background-image: url(/img/info.svg);
  width: 32px;
  height: 32px;
  margin-bottom: -6px;
  position: absolute;
  left: 0px;
  margin-left: -48px;
  margin-top: -16px;
  top: 50%;
  display: inline-block;
  opacity: .3;
  background-size: 100%;
}
/* line 21, ../sass/include/job.scss */
.job-v .show-info:hover {
  opacity: .9;
}
/* line 26, ../sass/include/job.scss */
.job-v .svg-container {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: block;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
/* line 35, ../sass/include/job.scss */
.job-v .job-description {
  position: fixed;
  right: 0px;
  left: 0px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: white;
  border: 5px solid black;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 5px 5px 20px -10px;
}
/* line 46, ../sass/include/job.scss */
.job-v .job-description dl {
  margin-bottom: 0px;
  margin-top: 0px;
}
/* line 50, ../sass/include/job.scss */
.job-v .job-description dd, .job-v .job-description dt {
  display: inline-block;
}
/* line 53, ../sass/include/job.scss */
.job-v .job-description dt {
  margin-top: 5px;
  width: 120px;
  white-space: nowrap;
}
/* line 59, ../sass/include/job.scss */
.job-v .job-description dd {
  max-width: 600px;
  margin-left: 10px;
}
/* line 62, ../sass/include/job.scss */
.job-v .job-description dd.seq {
  color: rgba(0, 0, 0, 0.25);
  vertical-align: text-top;
  line-height: 25px;
}

/* line 3, ../sass/include/batch.scss */
.job-link-v a > *:second-child {
  display: inline-block;
  width: 75px;
}
/* line 7, ../sass/include/batch.scss */
.job-link-v a .name {
  font-weight: bold;
}
/* line 10, ../sass/include/batch.scss */
.job-link-v a .unstarted {
  color: red;
}
/* line 13, ../sass/include/batch.scss */
.job-link-v a .started {
  color: green;
}

/* line 1, ../sass/include/file.scss */
.file-list-v {
  min-height: 10px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px rgba(0, 0, 0, 0.05) solid;
  border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
  margin-top: 15px;
  margin-bottom: 10px;
}
/* line 14, ../sass/include/file.scss */
.file-list-v .files {
  margin-left: 20px;
}
/* line 16, ../sass/include/file.scss */
.file-list-v .files .file-v {
  margin-left: 10px;
}
/* line 18, ../sass/include/file.scss */
.file-list-v .files .file-v:not(.ready) {
  pointer-events: none;
}
/* line 20, ../sass/include/file.scss */
.file-list-v .files .file-v:not(.ready) a {
  color: rgba(0, 0, 0, 0.3);
}

/* line 3, ../sass/include/cards.scss */
.cards .card {
  vertical-align: top;
  width: 200px;
  min-height: 200px;
  position: relative;
  display: inline-block;
  border: 1px solid black;
  margin: 25px;
  padding: 10px;
}
/* line 4, ../sass/include/cards.scss */
.cards .card .header {
  position: absolute;
  bottom: 100%;
  left: 0px;
}
/* line 10, ../sass/include/cards.scss */
.cards .card .footer {
  margin-top: 0px;
  position: absolute;
  top: 100%;
  left: 0px;
  border-top: none;
}
/* line 18, ../sass/include/cards.scss */
.cards .card .covering-link {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* line 1, ../sass/include/tabs.scss */
.tabs-label {
  position: absolute;
  top: 11px;
  background-color: white;
  padding-right: 20px;
}

/* line 8, ../sass/include/tabs.scss */
.nav-tabs.crispr-tabs {
  margin-top: 30px;
  margin-bottom: 14px;
  position: relative;
}

/* line 14, ../sass/include/tabs.scss */
.tab-header-annotation {
  opacity: .5;
}

/* line 1, ../sass/pages/base.scss */
.footer {
  margin-top: 100px;
  border-top: 1px solid #efefef;
  padding-top: 1em;
  text-align: center;
}

/* line 8, ../sass/pages/base.scss */
.inline {
  display: inline;
}

/* line 13, ../sass/pages/base.scss */
.full-width {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

/* line 20, ../sass/pages/base.scss */
body.submit, body.batch body.about, body.readout, body.nickase, body.job, body.downloads, body.splash_v2, body.submit_v2 {
  padding-left: 75px;
  padding-right: 75px;
}
/* line 24, ../sass/pages/base.scss */
body.submit > .header, body.batch body.about > .header, body.readout > .header, body.nickase > .header, body.job > .header, body.downloads > .header, body.splash_v2 > .header, body.submit_v2 > .header {
  margin-left: -75px;
  margin-right: -75px;
}
/* line 30, ../sass/pages/base.scss */
body .nav-tabs {
  margin-top: -36px;
  padding-right: 20px;
  border-bottom: 1px solid #eee;
}
/* line 34, ../sass/pages/base.scss */
body .nav-tabs li {
  border-color: #eee;
  float: right;
}
/* line 37, ../sass/pages/base.scss */
body .nav-tabs li > a {
  padding-top: 6px;
  padding-bottom: 6px;
}
/* line 43, ../sass/pages/base.scss */
body .disabled {
  opacity: .4;
  color: black;
}

/* line 54, ../sass/pages/base.scss */
body.submit .navbar > * {
  padding-left: 75px;
  padding-right: 75px;
}

/* line 62, ../sass/pages/base.scss */
.alert.header {
  margin-bottom: 0px;
}

/* line 65, ../sass/pages/base.scss */
.alert .content {
  max-width: 500px;
  margin: 0 auto;
}
/* line 66, ../sass/pages/base.scss */
.alert .content.showing-less .text-fixed-width-content {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  opacity: .7;
}
/* line 74, ../sass/pages/base.scss */
.alert .content > * {
  vertical-align: text-bottom;
}

/* line 85, ../sass/pages/base.scss */
.med-left-margin {
  margin-left: 20px;
}

/* line 89, ../sass/pages/base.scss */
.med-top-margin {
  margin-top: 20px;
}

/* line 92, ../sass/pages/base.scss */
.small-left-margin {
  margin-left: 1em;
}

/* line 97, ../sass/pages/base.scss */
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 104, ../sass/pages/base.scss */
.disabled {
  color: lightgray;
  cursor: not-allowed;
}

/* line 109, ../sass/pages/base.scss */
.sequence {
  font-family: courier;
}

/* line 113, ../sass/pages/base.scss */
.v-middle {
  vertical-align: middle;
}

/* line 116, ../sass/pages/base.scss */
.valid {
  position: fixed;
  width: 200px;
  right: 0px;
  background-color: #FEFEFE;
  border: 1px solid lightgray;
  padding: 20px;
  margin: 25px;
  bottom: 0px;
}
/* line 125, ../sass/pages/base.scss */
.valid .dna {
  word-break: break-all;
}
/* line 128, ../sass/pages/base.scss */
.valid li {
  margin-top: 10px;
}

/* line 134, ../sass/pages/base.scss */
.showing-less > .more {
  display: none;
}

/* line 135, ../sass/pages/base.scss */
.showing-more > .less {
  display: none;
}

/* line 144, ../sass/pages/base.scss */
.section {
  padding: .5em;
  margin: 1em;
}

/* line 149, ../sass/pages/base.scss */
.section.bad {
  border: 1px solid rgba(255, 0, 0, 0.3);
}
/* line 152, ../sass/pages/base.scss */
.section.bad .header {
  color: red;
}

/* line 156, ../sass/pages/base.scss */
.section.good {
  border: 1px solid rgba(0, 255, 0, 0.3);
}
/* line 159, ../sass/pages/base.scss */
.section.good .header {
  color: green;
}

/* line 163, ../sass/pages/base.scss */
.inactive {
  opacity: .25;
  pointer-events: none;
}

/* line 2, ../sass/pages/nickase.scss */
body.nickase #nickase-container {
  padding-top: 35px;
}
/* line 8, ../sass/pages/nickase.scss */
body.nickase .page-header:not(h4) {
  margin-top: 0px;
}
/* line 13, ../sass/pages/nickase.scss */
body.nickase .pane1 {
  width: 100%;
  display: inline-block;
}
/* line 15, ../sass/pages/nickase.scss */
body.nickase .pane1 label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 20, ../sass/pages/nickase.scss */
body.nickase .pane1 .radio {
  padding-left: 25px;
}
/* line 23, ../sass/pages/nickase.scss */
body.nickase .pane1 .main.graphics {
  overflow: hidden;
}
/* line 28, ../sass/pages/nickase.scss */
body.nickase .pane2 {
  z-index: 2;
  display: inline-block;
}
/* line 31, ../sass/pages/nickase.scss */
body.nickase .pane2 .nicks-list {
  position: relative;
  max-height: 300px;
  padding-top: 5px;
  max-height: 351px;
  overflow-x: visible;
  overflow-y: auto;
}
/* line 40, ../sass/pages/nickase.scss */
body.nickase .pane3 {
  vertical-align: top;
  padding-top: 30px;
}
/* line 47, ../sass/pages/nickase.scss */
body.nickase .pane.left {
  position: relative;
  width: 270px;
  display: inline-block;
  vertical-align: top;
}
/* line 53, ../sass/pages/nickase.scss */
body.nickase .pane.right {
  display: inline-block;
  margin-left: 25px;
  margin-left: -270px;
  padding-left: 290px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
/* line 64, ../sass/pages/nickase.scss */
body.nickase .panes.top {
  position: relative;
  white-space: nowrap;
}
/* line 67, ../sass/pages/nickase.scss */
body.nickase .panes.top > * {
  white-space: normal;
}
/* line 72, ../sass/pages/nickase.scss */
body.nickase table {
  white-space: nowrap;
}
/* line 75, ../sass/pages/nickase.scss */
body.nickase .nickase-tl-options {
  width: 100%;
  margin-bottom: 5px;
  white-space: normal;
}
/* line 80, ../sass/pages/nickase.scss */
body.nickase .nickase-tl-options form {
  margin-left: 20px;
  margin-bottom: 0px;
}
/* line 83, ../sass/pages/nickase.scss */
body.nickase .nickase-tl-options form .control-group {
  margin-bottom: 0px;
}
/* line 88, ../sass/pages/nickase.scss */
body.nickase .nickase-tl-options .controls {
  margin-left: 10px;
}
/* line 91, ../sass/pages/nickase.scss */
body.nickase .nickase-tl-options .full-width-bottom {
  position: relative;
  width: 100%;
}
/* line 94, ../sass/pages/nickase.scss */
body.nickase .nickase-tl-options .full-width-bottom .right {
  position: absolute;
  right: 0px;
}
/* line 100, ../sass/pages/nickase.scss */
body.nickase .hover-helper {
  margin-left: 33%;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  vertical-align: text-bottom;
}

/* line 109, ../sass/pages/nickase.scss */
.scores-explanation {
  padding-top: 10px;
  white-space: normal;
}

/* line 113, ../sass/pages/nickase.scss */
.graphics {
  height: 300px;
  display: block;
  position: relative;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: lightgray solid 1px;
}
/* line 128, ../sass/pages/nickase.scss */
.graphics.locked .svg-container {
  pointer-events: none;
}

/* line 144, ../sass/pages/nickase.scss */
body.locked .click-grabber {
  display: block;
  pointer-events: auto;
}

/* line 156, ../sass/pages/nickase.scss */
.click-grabber {
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  display: none;
  z-index: 10;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

/* line 169, ../sass/pages/nickase.scss */
.nick-active-highlight {
  opacity: 0;
}
/* line 171, ../sass/pages/nickase.scss */
.nick-active-highlight[active=true] {
  opacity: .05;
}

/* line 176, ../sass/pages/nickase.scss */
.nick-svg-view-group:not([active=true]) > text {
  opacity: 0;
}
/* line 180, ../sass/pages/nickase.scss */
.nick-svg-view-group:not([active=true]) > line {
  opacity: .1;
}
/* line 183, ../sass/pages/nickase.scss */
.nick-svg-view-group[active=true] {
  opacity: .9;
}

/* line 193, ../sass/pages/nickase.scss */
.nickase-detail-view .page-header {
  padding-bottom: 3px;
}
/* line 197, ../sass/pages/nickase.scss */
.nickase-detail-view .full-width.header {
  width: 100%;
  margin-bottom: 20px;
}
/* line 200, ../sass/pages/nickase.scss */
.nickase-detail-view .full-width.header > * {
  vertical-align: text-bottom;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 205, ../sass/pages/nickase.scss */
.nickase-detail-view .full-width.header .nickase-detail-title {
  display: inline-block;
}
/* line 212, ../sass/pages/nickase.scss */
.nickase-detail-view .cards .card {
  padding-top: 50px;
}
/* line 214, ../sass/pages/nickase.scss */
.nickase-detail-view .cards .card.sequence-section {
  padding-top: 10px;
}
/* line 217, ../sass/pages/nickase.scss */
.nickase-detail-view .cards .card.sequence-section .sequence {
  color: rgba(0, 0, 0, 0.25);
}
/* line 218, ../sass/pages/nickase.scss */
.nickase-detail-view .cards .card.sequence-section .sequence.selected {
  color: black;
}
/* line 223, ../sass/pages/nickase.scss */
.nickase-detail-view .cards .card .qbox {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-bottom: 1px dotted black;
}
/* line 233, ../sass/pages/nickase.scss */
.nickase-detail-view .cards .card .qbox > span {
  display: block;
  line-height: 40px;
  color: white;
  text-align: right;
  font-size: 300%;
}
/* line 242, ../sass/pages/nickase.scss */
.nickase-detail-view .cards .card.high {
  background-color: rgba(48, 80, 48, 0.05);
}
/* line 242, ../sass/pages/nickase.scss */
.nickase-detail-view .cards .card.high .qbox {
  background-color: rgba(16, 112, 16, 0.25);
}
/* line 247, ../sass/pages/nickase.scss */
.nickase-detail-view .cards .card.medium {
  background-color: rgba(159, 159, 96, 0.05);
}
/* line 247, ../sass/pages/nickase.scss */
.nickase-detail-view .cards .card.medium .qbox {
  background-color: rgba(223, 223, 32, 0.25);
}
/* line 253, ../sass/pages/nickase.scss */
.nickase-detail-view .cards .card.bad {
  background-color: rgba(159, 96, 96, 0.05);
}
/* line 254, ../sass/pages/nickase.scss */
.nickase-detail-view .cards .card.bad .qbox {
  background-color: rgba(223, 32, 32, 0.25);
}
/* line 262, ../sass/pages/nickase.scss */
.nickase-detail-view .cards .card.sequence-section .sequence {
  word-break: break-all;
}
/* line 268, ../sass/pages/nickase.scss */
.nickase-detail-view .spacer {
  display: inline-block;
  width: auto;
}
/* line 273, ../sass/pages/nickase.scss */
.nickase-detail-view .spacer dd {
  margin-left: 10px;
}
/* line 277, ../sass/pages/nickase.scss */
.nickase-detail-view .details-svg-container {
  margin-top: 20px;
  margin-bottom: 30px;
}
/* line 281, ../sass/pages/nickase.scss */
.nickase-detail-view .sequence-details-container {
  margin-bottom: 25px;
}
/* line 284, ../sass/pages/nickase.scss */
.nickase-detail-view .sequence {
  font-family: courier;
}

/* line 290, ../sass/pages/nickase.scss */
body.nickase .nicks-list {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

/* line 296, ../sass/pages/nickase.scss */
.job-list-v.nicks-list .header {
  padding: 1em;
  padding-bottom: 0em;
  font-style: italic;
}

/* line 309, ../sass/pages/nickase.scss */
.nickase.list-row:not(.included) {
  display: none;
}

/* line 1, ../sass/pages/readout.scss */
#readout {
  margin-top: 35px;
}

/* line 5, ../sass/pages/readout.scss */
.left {
  text-align: left;
}

/* line 8, ../sass/pages/readout.scss */
.center {
  text-align: center;
}

/* line 13, ../sass/pages/readout.scss */
th {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 18, ../sass/pages/readout.scss */
svg {
  font-family: courier;
  font-size: 10px;
}

/* line 23, ../sass/pages/readout.scss */
.dna {
  font-family: courier;
}

/* line 26, ../sass/pages/readout.scss */
.locus {
  font-family: courier;
}

/* line 29, ../sass/pages/readout.scss */
.nrg {
  color: green;
  font-weight: bold;
}

/* line 35, ../sass/pages/readout.scss */
.occupied {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: underline;
}

/* line 41, ../sass/pages/readout.scss */
.break-all {
  word-break: break-all;
}

/* line 44, ../sass/pages/readout.scss */
.hover {
  display: none;
}

/* line 1, ../sass/pages/submit.scss */
#sequence_submission_area {
  min-width: 325px;
}

/* line 6, ../sass/pages/submit.scss */
#submit, #submit_v2 {
  margin-top: 50px;
}
/* line 8, ../sass/pages/submit.scss */
#submit .tab-content, #submit_v2 .tab-content {
  overflow: visible;
}
/* line 10, ../sass/pages/submit.scss */
#submit .tab-content .tab-pane, #submit_v2 .tab-content .tab-pane {
  padding-top: 100px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
/* line 16, ../sass/pages/submit.scss */
#submit .tab-content .tab-pane .header-description, #submit_v2 .tab-content .tab-pane .header-description {
  margin-top: -80px;
  margin-bottom: 20px;
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0px;
  color: #BBB;
  opacity: 1;
  font-size: 100%;
}
/* line 30, ../sass/pages/submit.scss */
#submit form.submitted, #submit_v2 form.submitted {
  cursor: wait;
}
/* line 32, ../sass/pages/submit.scss */
#submit form.submitted .submit-group input, #submit_v2 form.submitted .submit-group input {
  pointer-events: none;
  opacity: .5;
}
/* line 36, ../sass/pages/submit.scss */
#submit form.submitted input[type='file'], #submit_v2 form.submitted input[type='file'] {
  width: 95px;
}

/* line 2, ../sass/pages/job.scss */
body.job #job-container {
  margin-top: 35px;
}
/* line 5, ../sass/pages/job.scss */
body.job .job-page-pages-view {
  margin-bottom: 25px;
}
/* line 8, ../sass/pages/job.scss */
body.job .job-page-status-view {
  margin-bottom: 35px;
}
/* line 9, ../sass/pages/job.scss */
body.job .job-page-status-view .status {
  box-sizing: border-box;
  font-family: courier;
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 22, ../sass/pages/job.scss */
body.job .job-page-status-view .status .progress {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 27, ../sass/pages/job.scss */
body.job .job-page-status-view .status.done .progress {
  height: 1px;
  opacity: .5;
  transition: height 1s, opacity .5s;
}
/* line 37, ../sass/pages/job.scss */
body.job .right {
  position: absolute;
  right: 0px;
}
/* line 41, ../sass/pages/job.scss */
body.job .cards {
  padding-left: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 45, ../sass/pages/job.scss */
body.job .cards .card .footer {
  padding-top: 4px;
  width: 100%;
  text-align: left;
}
/* line 52, ../sass/pages/job.scss */
body.job .cards #email-complete {
  margin: 0px;
}
/* line 55, ../sass/pages/job.scss */
body.job .cards .card {
  min-height: 0px;
  height: 150px;
  width: 150px;
  margin: 35px;
  border-color: lightgray;
}
/* line 64, ../sass/pages/job.scss */
body.job .cards .card:first-child {
  margin-left: 15px;
}
/* line 67, ../sass/pages/job.scss */
body.job .cards .card .background {
  background-repeat: no-repeat;
  background-position: center;
  opacity: .7;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
/* line 77, ../sass/pages/job.scss */
body.job .cards .card:hover {
  border-color: black;
}
/* line 79, ../sass/pages/job.scss */
body.job .cards .card:hover .background {
  opacity: 1;
}
/* line 83, ../sass/pages/job.scss */
body.job .cards .card.nickase .background {
  background-image: url("/img/nickase-preview.svg");
}
/* line 88, ../sass/pages/job.scss */
body.job .cards .card.guides .background {
  background-image: url("/img/crispr-logo.jpg");
}
/* line 96, ../sass/pages/job.scss */
body.job:not(.done) .nickase {
  cursor: wait;
  opacity: .25;
}
/* line 99, ../sass/pages/job.scss */
body.job:not(.done) .nickase > * {
  pointer-events: none;
}
/* line 103, ../sass/pages/job.scss */
body.job:not(.done) .download-container {
  cursor: wait;
}
/* line 104, ../sass/pages/job.scss */
body.job:not(.done) .download-container a {
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
/* line 114, ../sass/pages/job.scss */
body.job.done .wait-for-nickase {
  display: none;
}
/* line 119, ../sass/pages/job.scss */
body.job h3 {
  margin-top: 20px;
  margin-bottom: 0px;
}

/* line 2, ../sass/pages/downloads.scss */
body.downloads #downloads-container {
  padding-top: 35px;
}

/* line 4, ../sass/pages/submit_v2.scss */
.gene-info {
  max-height: 200px;
  font-family: courier;
  background-color: #EEEEEE;
  overflow-y: scroll;
  white-space: pre-wrap;
}

/* line 15, ../sass/pages/submit_v2.scss */
.gene-helpers {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 20, ../sass/pages/submit_v2.scss */
.gene-info-helpers {
  text-align: center;
}
/* line 22, ../sass/pages/submit_v2.scss */
.gene-info-helpers li {
  padding-left: 20px;
  display: inline;
}

/* line 29, ../sass/pages/submit_v2.scss */
.tt-input, .tt-hint {
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

/* line 6, ../sass/pages/splash_v2.scss */
body.splash_v2 li {
  list-style: none;
  padding-top: 5px;
}
/* line 12, ../sass/pages/splash_v2.scss */
body.splash_v2 ul {
  padding-left: 0px;
}
/* line 17, ../sass/pages/splash_v2.scss */
body.splash_v2 .splash-greeting-container {
  text-align: center;
}
/* line 22, ../sass/pages/splash_v2.scss */
body.splash_v2 .splash-greeting-container .biline {
  margin-bottom: 25px;
}
/* line 24, ../sass/pages/splash_v2.scss */
body.splash_v2 .splash-greeting-container .biline p {
  margin-bottom: 5px;
}
/* line 27, ../sass/pages/splash_v2.scss */
body.splash_v2 .splash-greeting-container .biline a:link {
  text-decoration: underline;
}
/* line 32, ../sass/pages/splash_v2.scss */
body.splash_v2 #genome-v2-links {
  margin-bottom: 25px;
}
/* line 34, ../sass/pages/splash_v2.scss */
body.splash_v2 #genome-v2-links .human {
  margin-bottom: 8px;
}
/* line 36, ../sass/pages/splash_v2.scss */
body.splash_v2 #genome-v2-links .human a {
  font-weight: bold;
}
/* line 40, ../sass/pages/splash_v2.scss */
body.splash_v2 #genome-v2-links a:link {
  text-decoration: underline;
}

/* line 6, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 {
  font-family: courier;
}
/* line 8, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 h1, body.gene_results_v2 h2, body.gene_results_v2 h3, body.gene_results_v2 h4, body.gene_results_v2 h5, body.gene_results_v2 .biline {
  font-family: Helvetica Neue;
}
/* line 12, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 a.underline:link {
  text-decoration: underline;
}
/* line 15, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .header .title {
  margin-bottom: 25px;
}
/* line 19, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .header-container {
  position: relative;
}
/* line 21, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .header-container .hiline {
  position: absolute;
  text-align: right;
  bottom: 0px;
  right: 0px;
}
/* line 28, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .background-stripe {
  margin-left: -1000px;
  padding-right: 2000px;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #EFEFEF;
  height: 3em;
}
/* line 38, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #drawing {
  width: 80ch;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/* line 46, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .exon-line {
  stroke: blue;
  stroke-width: 1;
}
/* line 50, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 rect.selected {
  stroke-width: 2px;
  stroke: blue;
}
/* line 54, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .drag-handle {
  cursor: pointer;
  fill: aliceblue;
  stroke-width: 1px;
  stroke: blue;
}
/* line 59, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .drag-handle:hover {
  fill: blue;
}
/* line 65, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .fixed-width-header {
  margin-left: auto;
  margin-right: auto;
  width: 80ch;
  margin-bottom: 20px;
}
/* line 66, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .fixed-width-header .biline {
  font-weight: lighter;
  opacity: .99;
  color: gray;
}
/* line 71, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .fixed-width-header h1, body.gene_results_v2 .fixed-width-header h2 {
  margin-top: 40px;
  margin-bottom: 0px;
  line-height: 1.4em;
}
/* line 82, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 80ch;
}
/* line 88, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers table {
  width: 100%;
}
/* line 91, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers .seq {
  padding-left: 10px;
  padding-right: 10px;
  font-family: courier;
}
/* line 96, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers .pam-before {
  color: green;
}
/* line 100, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers .pam-after {
  color: purple;
}
/* line 103, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers .cpcf1 {
  color: white;
  background-color: green;
}
/* line 107, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers .cas9 {
  color: white;
  background-color: purple;
}
/* line 111, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers tr {
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 112, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers tr th {
  text-align: center;
}
/* line 115, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers tr td {
  text-align: center;
}
/* line 120, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers tr .flag {
  padding-left: 4px;
  padding-right: 4px;
}
/* line 127, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .selection-left, body.gene_results_v2 .selection-right {
  font-family: courier;
  margin-left: -20em;
}
/* line 131, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .selection-viewer {
  font-family: courier;
  position: absolute;
}
/* line 135, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .selection-left-viewer {
  right: 50%;
}
/* line 138, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .selection-right-viewer {
  left: 50%;
}
/* line 142, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 a:link {
  text-decoration: underline;
}
/* line 145, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .pam.before {
  color: green;
}
/* line 149, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .pam.after {
  color: red;
}
/* line 153, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .line.one {
  white-space: nowrap;
}
/* line 155, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .line.one > * {
  white-space: nowrap;
}
/* line 158, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 ul {
  padding-left: 0px;
}
/* line 163, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .tool-view-container h2 {
  text-align: center;
}
/* line 168, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 li {
  list-style: none;
}
/* line 172, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .header-guides {
  font-family: courier;
  max-height: 100px;
  overflow-y: scroll;
  margin-bottom: 30px;
}
/* line 173, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .header-guides h4 {
  text-align: center;
}
/* line 176, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .header-guides .spacer-list {
  text-align: center;
}
/* line 189, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .download-gb {
  color: black;
  display: none;
}
/* line 192, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .download-gb a:link {
  color: blue;
}
/* line 198, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .margin-spacer {
  border-width: 1px;
  border-style: solid;
  padding: 4px;
  background-color: lightgray;
}
/* line 205, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .margin-spacer.margin-spacer.highlighted {
  background-color: white;
  z-index: 10;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
/* line 212, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .guide.cas9 .margin-spacer:not(.highlighted) {
  border-color: red;
}
/* line 215, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .guide.cas9 .margin-spacer.highlighted .line.one {
  background-color: red;
  color: white;
}
/* line 222, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .guide.cpcf1 .margin-spacer:not(.highlighted) {
  border-color: green;
}
/* line 225, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .guide.cpcf1 .margin-spacer.highlighted .line.one {
  background-color: green;
  color: white;
  border-color: green;
}
/* line 236, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .text-spacer:not(.highlighted) {
  display: none;
}
/* line 239, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .text-spacer {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  opacity: .9;
  color: black;
  text-align: center;
}
/* line 249, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .text-spacer .download-gb {
  display: block;
  color: black;
}
/* line 259, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .margin-spacer.highlighted .pam {
  color: white;
}
/* line 262, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .margin-spacer.highlighted .download-gb {
  display: block;
  color: black;
}
/* line 268, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters {
  width: 80.5ch;
  margin-left: auto;
  margin-right: auto;
  font-family: courier;
  overflow: hidden;
  word-break: break-all;
}
/* line 274, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .guide.cas9 .margin-spacer {
  left: 0px;
  margin-left: -300px;
  text-align: left;
}
/* line 281, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .guide.cpcf1 .margin-spacer {
  left: 50%;
  margin-left: 48ch;
  text-align: left;
}
/* line 287, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .margin-spacer {
  font-family: courier;
  color: black;
  position: absolute;
  width: 300px;
}
/* line 294, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .exon {
  color: black;
  font-weight: bold;
}
/* line 298, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .exon, body.gene_results_v2 .gene-view-container .gene-view .letters .intron {
  display: block;
}
/* line 302, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .exon-helper {
  position: absolute;
  width: auto;
  text-align: right;
  width: 200px;
  margin-left: -220px;
}
/* line 310, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .intron {
  opacity: .3;
}
/* line 312, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .intron .firstline, body.gene_results_v2 .gene-view-container .gene-view .letters .intron .lastline {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/* line 317, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .intron .before-middle {
  content: "...";
  text-align: center;
  height: 10px;
  display: block;
}
/* line 323, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .intron .middle {
  display: none;
}
/* line 331, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters a.white {
  color: white;
}
/* line 334, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters a.white:link {
  color: white;
}
/* line 337, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .guide {
  background-color: red;
  color: white;
  padding: 0px;
  word-break: break-all;
}
/* line 344, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .guide.cas9 {
  background-color: purple;
}
/* line 347, ../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .guide.cpcf1 {
  background-color: green;
}
