<script type="unknown" id="spacer_offtargets_v_template">
  <h2 id="no_id_offtargets_view_header">Spacer job #{{ job_id }}</h2>
  <div class="sequence">{{sequence}}</div>
  <ul class="offtargets_view">
  </ul>

  <div class="download as PDF"><a>download as PDF</a></div>
</script>

<script type="unknown" id="offtarget_v_template">
  <h4 id="no_id_view_header">
  </h4>
  <div class="info">{{ chr }} : {{ strand===1?"+":"-" }} {{ start }}</div>
  <div class="sequence">
    {{ sequence }}
  </div>
</script>
