.file-list-v{
    min-height:10px;
    width:100%;
    box-sizing:border-box;
    
    padding-top:15px;
    padding-bottom:15px;
    
    border-top:1px rgba(0, 0, 0, .05) solid;
    border-bottom:1px rgba(0, 0, 0, .05) solid;
    margin-top:15px;
    margin-bottom:10px;
    
    .files{
	margin-left:20px;
	.file-v{
	    margin-left:10px;
	    &:not(.ready){
		pointer-events:none;
		a{color:rgba(0, 0, 0, .3);}
	    }
	}
    }
}
