
.job-v{
    margin-left:20px;
    .svg-container{
	margin-top:10px;
	margin-bottom:20px;
	padding-bottom:20px;
	display:block;
	width:900px;
	margin-left: auto;
	margin-right:auto;	
    }
    .job-description{
	dd,dt{
	    display:inline-block;
	}
	dt{
	    margin-top:5px;
	    width:120px;
	    white-space:nowrap;
	   
	}
	dd{
	    max-width:600px;
	    margin-left:10px;
	    &.seq{
		color:rgba(0, 0, 0, .25);
		vertical-align:text-top;
		line-height:25px;
	    }
	}
    }
}
