// spacer colorings and legend
$high-green:green;
$medium-yellow:yellow;
$low-red:red;
$annotation-alpha:.4;

.high-quality{
    border-left:5px solid $high-green;
}
.medium-quality{
    border-left:5px solid $medium-yellow;
}
.low-quality{
    border-left:5px solid $low-red;
}
.no-quality{
    border-left:5px solid lightgray;
}

.guide-quality{
    box-sizing:border-box;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    margin-bottom:10px;
    >div{
	padding-left:10px;
    }
}
.annotation{
    opacity:$annotation-alpha;
}
$spacer-left:400px;


.spacer-v-container{
    margin-left:20px;
}


.col-tables-area{
    white-space:nowrap;
    .col{
	box-sizing:border-box;
	position:relative;
	height:100%;
	display:inline-block;
	vertical-align:text-top;
	&.left{
	    width:$spacer-left;
	    padding-left:20px;
	    z-index:1;
	}
	&.right{
	    width:100%;
	    margin-left:-$spacer-left;
	    padding-right:20px;
	    padding-left:20px + $spacer-left;
	    z-index:0;    
	}
    }
}

.job-list-v{
    box-sizing:border-box;
    min-height:600px;

    &.spacers-list{

    }
    
    table{
	width:100%;
	margin-right:10px;	   
	border-right:1px dotted rgba(0, 0, 0, .1);

	tr.list-row{
	    border-bottom-width:0px;
	    border-left-width:5px;
	    border-top-width:0px;
	    th,td{
		padding-left:10px;
		&:not(:last-child){padding-right:10px;}
	    }
	    th{
		text-align:center;
	    }
	}

	tr.spacer-list-v{
	    &.active{
		border-right:1px solid black;
		background-color:rgba(0, 0, 0, .05);
	    }

	}
	tr.nickase-list-v{
	    &:not(.active){
		opacity:.25;
	    }

	    &.active{
		border-right:1px solid black;
		background-color:rgba(0, 0, 0, .05);
	    }
	    cursor:pointer;
	}
    }
    
}


.qscore{
    font-weight:bold;
    color:blue;
}

.spacer-h-v-container{
    .info{
	display:inline-block;
	dl.header{
	    margin-top:8px;
	    margin-bottom:8px;
	}
	dl{
	    margin-top:0px;
	    margin-bottom:0px;
	    display:inline-block;
	    box-sizing:border-box;
	    dt, dd{
		display:inline;
	    }
	    dt:not(:first-child){
		margin-left:15px;
		font-weight:bold;
	    }
	    dd{
		margin-left:2px;
	    }
	}
    }
    .spacer-h-view{
	.table-type-selection{
	    display:block;
	    .hspace-80{
		height:0px;
		vertical-align:middle;
		margin-left:20px;
		margin-right:10px;
		border-top:1px dotted rgba(0,0,0,.25);
		width:140px;
		display:inline-block;
	    }
	    input{
		margin-top:-1px;
		margin-right:10px;
		margin-left:10px;
	    }
	}
	.hits{
	    margin-top:20px;
	    &.top{
		table.gene{
		    display:none;
		}
	    }
	    &.gene{
		table.top{
		    display:none;
		}
	    }
	    table{
		width:100%;
		th,td{
		    &:nth-child(even){
			background-color:rgba(0, 0, 0, .02);
		    }
		 
		    &:not(:first-child){padding-left:10px;}
		    padding-right:10px;
		}
		th{
		    text-align:center;
		}
		td{
		    font-family:courier;
		    white-space:nowrap;
		    &.sequence,&.score,&.locus,&.gene{
			text-align:center;
		    }
		    
		}
	    }
	}
    }
}