.tabs-label{
    position: absolute;
    top: 11px;
    background-color: white;
    padding-right: 20px;
}

.nav-tabs.crispr-tabs{
    margin-top: 30px;
    margin-bottom: 14px;
    position: relative;
} 

.tab-header-annotation{
    opacity:.5;
}