.footer{
    margin-top:100px;
    border-top: 1px solid #efefef;
    padding-top:1em;
    text-align:center;
}

.inline{
    display:inline;
}


.full-width{
    box-sizing:border-box;
    position:relative;
    width:100%;
}

body{
    &.submit, &.batch &.about, &.readout, &.nickase, &.job, &.downloads{
	padding-left:75px;
	padding-right:75px; 

	>.header{
	    margin-left:-75px;
	    margin-right:-75px;
	}
    }
    
    .nav-tabs{
	margin-top: -36px;
	padding-right: 20px;
	border-bottom: 1px solid #eee;
	li{
	    border-color:#eee;
	    float:right;
	    >a{
		padding-top: 6px;
		padding-bottom: 6px;
	    }
	}
    }
    .disabled{
	opacity:.4;
	color:black;
    }

}
.navbar.navbar.navbar{
    a,.brand{
	padding-top:5px;
	padding-bottom:5px;
    }
}

body{
    &.submit{
	.navbar{
	    >*{
		padding-left:75px;
		padding-right:75px;
	    }
	}
    }
    .navbar{
	margin-bottom:0px;
	.brand{
	    opacity:.9;
	    font-family: 'Alegreya SC', serif;
	}
	>*{
	    
	    padding-left:10px;
	    padding-right:10px;
	    background-color:#fafafa;
            -webkit-font-smoothing: antialiased;
            border-radius:0px;	
	    border-bottom:1px solid #ddd;
	}
    }
}
.alert.header{
    margin-bottom:0px;
}
.alert .content{
    &.showing-less{ .text-fixed-width-content{
	max-width:400px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	display:inline-block;
	opacity:.7;
    }}
    >*{
	vertical-align:text-bottom;
    }
    &:not(.showing-more){
    }
    &.showing-more{
    }
    max-width:500px;
    margin: 0 auto;
}

.med-left-margin{
    margin-left:20px;
}

.med-top-margin{
    margin-top:20px;
}
.small-left-margin{
    margin-left:1em;
}


.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.disabled{
    color:lightgray;
    cursor:not-allowed;
}

.sequence{
    font-family:courier;
}

.v-middle{
    vertical-align:middle;
}
.valid{
    position:fixed;
    width:200px;
    right:0px;
    background-color:#FEFEFE;
    border: 1px solid lightgray;
    padding:20px;
    margin:25px;
    bottom:0px;
    .dna{
	word-break:break-all;
    }
    li{
	margin-top:10px;
    }

}

.showing-less>.more{display:none;}
.showing-more>.less{display:none;}

body{
    .float-left{
   }
    .navbar{
        li>a, .brand{
            color:black;
        }
    }
}



.section{
    	padding:.5em;
	margin:1em;

}
.section.bad{

	border:1px solid rgba(255, 0 , 0, .3);
    .header{
	color:red;
    }
}
.section.good{

	border:1px solid rgba(0, 255, 0, .3);
    .header{
	color:green;
    }
}
.inactive{
    opacity: .25;
    pointer-events:none;
}

#navparent{
    width:0px;
    height:0px;
    display:inline-block;
    position:fixed;
    left:0px;
    top:50%;
    margin-top:-56px;
}
.bs-docs-sidenav {
    width: 128px;
    margin: 0px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav > li > a {
    display: block;
    width: 90px 9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}

.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url(../img/glyphicons-halflings-white.png);
    opacity: 1;
}

.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

a{
    cursor:pointer;
}
