
$cas9bg:purple;
$cpf1bg:green;
$fixed-width:80ch;

body.gene_results_v2{

    h1,h2,h3,h4,h5,.biline{
	font-family:Helvetica Neue;
    }

    a.underline:link{
	text-decoration:underline;
    }
    .header .title{
	margin-bottom:25px;
    }
    
    .header-container{
	position:relative;
	.hiline{
	    position:absolute;
	    text-align:right;
	    bottom:0px;
	    right:0px;
	}
    }
    .background-stripe{
	margin-left:-1000px;
	padding-right:2000px;
	height: 100%;
	position: absolute;
	z-index: -1;
	background-color: #EFEFEF;
	height:3em;
    }
    font-family:courier;
    #drawing{
	width: $fixed-width;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
    }

    .exon-line{
	stroke:blue;
	stroke-width:1;
    }
    rect.selected{
	stroke-width:2px;
	stroke:blue;
    }
    .drag-handle{
	cursor:pointer;
	fill:aliceblue;
	stroke-width: 1px;
	stroke: blue;
	&:hover{
	    fill:blue;
	}
		 
    }

    .fixed-width-header{
	.biline{
	    font-weight:lighter;
	    opacity:.99;
	    color:gray;
	}
	h1,h2{
	    margin-top:40px;
	    margin-bottom:0px;
	    line-height:1.4em;
	}
	margin-left:auto;
	margin-right:auto;
	width:$fixed-width;
	margin-bottom:20px;
    }
    
    #hero-spacers{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:$fixed-width;

	table{
	    width:100%;
	}
	.seq{
	    padding-left:10px;
	    padding-right:10px;
	    font-family:courier;
	}
	.pam-before{
	    color:$cpf1bg;
	}
	
	.pam-after{
	    color:$cas9bg;
	}
	.cpf1{
	    color:white;
	    background-color:$cpf1bg;
	}
	.cas9{
	    color:white;
	    background-color:$cas9bg;
	}
	tr{
	    th{
		text-align:center;
	    }
	    td{
		text-align:center;
	    }
	    padding-top:2px;
	    padding-bottom:2px;
	    .flag{
		padding-left:4px;
		padding-right:4px;
	    }
	}
    }
    
    .selection-left,.selection-right{
	font-family:courier;
	margin-left:-20em;
    }
    .selection-viewer{
	font-family:courier;
	position:absolute;
    }
    .selection-left-viewer{
	right:50%;
    }
    .selection-right-viewer{
	left:50%;
    }
    
    a:link{
	text-decoration:underline;
    }
    .pam.before{
	color:green;
    }

    .pam.after{
	color:red;
    }

    .line.one{
	white-space:nowrap;
	>*{white-space:nowrap;}
    }

    ul{
	padding-left:0px;
    }

    .tool-view-container{
	h2{
	    text-align:center;
	}
    }

    li{
	list-style:none;
    }

    .header-guides{
	h4{
	    text-align:center;
	}
	.spacer-list{
	    text-align:center;
	    
	}
	font-family:courier;
	max-height:100px;
	overflow-y:scroll;
	margin-bottom:30px;
    }
    
    .gene-view-container{
	.gene-view{

	    .download-gb{
		color:black;
		display:none;
		a:link{
		    color:blue;
		}
	
	    }

	    .margin-spacer{
		border-width:1px;
		border-style:solid;
		padding:4px;
		background-color:lightgray;
		
	    }
	    .margin-spacer.margin-spacer.highlighted{
		//border-color:white;
		background-color:white;
		z-index:10;
		box-shadow:10px 10px 20px rgba(0, 0, 0, .2);
	    }
	    .guide.cas9{
		.margin-spacer:not(.highlighted){
		    border-color:red;
		}
		.margin-spacer.highlighted .line.one{
		    background-color:red;
		    color:white;
		}

	    }
	    .guide.cpf1{
		.margin-spacer:not(.highlighted){
		    border-color:green;
		}
		.margin-spacer.highlighted .line.one{
		    background-color:green;
		    color:white;
		    border-color:green;

		    
		    
		}

	    }

	    .text-spacer:not(.highlighted){
		display:none;
	    }
	    .text-spacer{
		position:absolute;
		left:50%;
		margin-left:-150px;
		width:300px;
		background-color:white;
		border:1px solid black;
		opacity:.9;
		color:black;
		text-align:center;
		.download-gb{
		    display:block;
		    color:black;
		}
		
	    }
	    

			    
	    .margin-spacer.highlighted{
		.pam{
		    color:white;
		}
		.download-gb{
		    display:block;
		    color:black;
		}
	    }
	    
	    .letters{
		width:80.5ch;
		margin-left:auto;
		margin-right:auto;
		

		.guide.cas9 .margin-spacer{

		    left:0px;
		    margin-left:-300px;
		    text-align:left;
		}
		
		.guide.cpf1 .margin-spacer{
		    left:50%;
		    margin-left:48ch;
		    text-align:left;
		}
		
		.margin-spacer{
		    font-family:courier;
		    color:black;
		    position:absolute;
		    width:300px;
		}
		
		.exon{
		    color:black;
		    font-weight:bold;
		}
		.exon,.intron{
		    display:block;
			
		}
		.exon-helper{
		    position:absolute;
		    width:auto;
		    text-align:right;
		    width:200px;
		    margin-left:-220px;
		}
		
		.intron{
		    opacity:.3;
			.firstline,.lastline{
			    display: -webkit-box;
			    -webkit-line-clamp: 1;
			    -webkit-box-orient: vertical;  
			}
			.before-middle{
			    content:"...";
			    text-align:center;
			    height:10px;
			    display:block;
			}
			.middle{
			    display:none;
			}
		}
		font-family:courier;
		overflow: hidden;
		word-break: break-all;

		a.white{
		    color:white;
		}
		a.white:link{
		    color:white;
		}
		.guide{
		    background-color:red;
		    color:white;
		    padding:0px;
		    word-break:break-all;

		}
		.guide.cas9{
		    background-color:$cas9bg;
		}
		.guide.cpf1{
		    background-color:$cpf1bg;
		}
	    }
	}
    }

}