
$cas9bg:rgb(0, 158, 115);
$cpf1bg:rgb(0, 114, 178);
$pam-before-color:$cpf1bg;
$pam-after-color:$cas9bg;
		     
$selection-color:blue;
$fixed-width:80ch;

body.gene_results_v2{

    .tab-content{
	padding-top:20px;
    }
    .select-radio{
	display:none;
    }

    //general svg
    text{

        font-family: courier;
	line-height: 10px;
	font-size:14px;
	tspan{
	    margin-top:0px;
	    padding-top:0px;
	}


    }

    //svg --> cutsite
    #cutsite{
	height:120px;
	text{
	    letter-spacing:1.63px;
	}
	

	
    }
    

    rect.selected{
	stroke-width:2px;
	stroke:$selection-color;
    }

    //svg --> main drawing
    #drawing{

	tspan:first-child{
	    font-weight:bold;
	}
	
	text.selected{
	    tspan:first-child{
		fill:$selection-color;
	    }
	}
	text:not(.selected){
	    tspan:not(:first-child){
		opacity:.3;
	    }
	}

    }

    
    
    //general coloring
    .cpf1{
	color:white;
	background-color:$cpf1bg;
    }
    .cas9{
	color:white;
	background-color:$cas9bg;
    }
    
    .bold{
	font-weight:bold;
    }

    dl{
	padding-top:20px;
	padding-bottom:20px;
	dt{
	    display:inline-block;
	    width:220px;
	    text-align:right;
	    margin-right:20px;
	}
	dd{
	    display:inline-block;
	}
    }
    .selection-slider-container{
	width:600px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
    }
    .content-width-600{
	width:600px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
    }

    .noUi-connect {
	background: $selection-color;
    }

    h1,h2,h3{
	font-family:helvetica neue;
	//font-weight:bold;
    }
    h4,h5,.biline{
	font-family:courier;
    }

    h4{
	margin-top:36px;
    }
    
    a.disabled{
	color:gray;
    }
    
    a.underline:link{
	text-decoration:underline;
    }
    .header .title{
	margin-bottom:0px;
    }

    table{
	tr:first-child{
	    border-bottom:1px dashed lightgray;
	    margin-bottom:5px;
	}
	th{
	    vertical-align:bottom;
	    input,label{
		margin-top:0px;
		margin-bottom:0px;
	    }
	}
    }
    
    .header-container{
	margin-top:25px;
	position:relative;
	.hiline{
	    position:absolute;
	    text-align:right;
	    bottom:0px;
	    right:0px;
	}
    }
    .ot-table-container{
	&.full{
	    .if-empty{
		display:none;
	    }
	}
	&:not(.full){
	    .if-full{
		display:none;
	    }
	}
    }
    .background-stripe{
	margin-left:-1000px;
	padding-right:2000px;
	height: 100%;
	position: absolute;
	z-index: -1;
	background-color: #EFEFEF;
	height:3em;
    }
    font-family:courier; 
    #drawing{
	width: 600px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
    }

    .exon-line{
	stroke:$selection-color;
	stroke-width:1;
    }

    .fixed-width-header{
	.biline{
	    color:black;
	    font-family:courier;
	    margin-top:5px;
	    margin-bottom:10px;
	}
	h1,h2{
	    margin-top:40px;
	    margin-bottom:0px;
	    line-height:1.4em;
	}
	margin-left:auto;
	margin-right:auto;
	width:$fixed-width;
	&:not(.title){
	    margin-bottom:20px;

	}
	&.title{
	    margin-bottom:0px;
	}
    }
    
    #hero-spacers{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:$fixed-width;

	table{
	    width:100%;
	}
	.seq{
	    padding-left:10px;
	    padding-right:10px;
	    font-family:courier;
	}
	.pam-before{
	    color:$cpf1bg;
	}
	
	.pam-after{
	    color:$cas9bg;
	}
	tr{
	    th{
		text-align:center;
	    }
	    td{
		text-align:center;
	    }
	    padding-top:2px;
	    padding-bottom:2px;
	    .flag{
		padding-left:4px;
		padding-right:4px;
	    }
	}
    }
    
    .selection-left,.selection-right{
	font-family:courier;
	margin-left:-20em;
    }
    .selection-viewer{
	font-family:courier;
	position:absolute;
    }
    .selection-left-viewer{
	right:50%;
    }
    .selection-right-viewer{
	left:50%;
    }
    
    a:link{
	text-decoration:underline;
    }
    .pam.before{
	color:green;
    }

    .pam.after{
	color:red;
    }

    .line.one{
	white-space:nowrap;
	>*{white-space:nowrap;}
    }

    ul{
	padding-left:0px;
    }

    .tool-view-container{
	h2{
	    text-align:center;
	}
    }

    li{
	list-style:none;
    }

    .header-guides{
	h4{
	    text-align:center;
	}
	.spacer-list{
	    text-align:center;
	    
	}
	font-family:courier;
	max-height:100px;
	overflow-y:scroll;
	margin-bottom:30px;
    }
	    
    .letters{
	width:80.5ch;
	margin-left:auto;
	margin-right:auto;
	font-family:courier;
	word-break:break-all;

	.guide.cas9{
	    background-color:$cas9bg;
	}
	.guide.cpf1{
	    background-color:$cpf1bg;
	}
	.guide{
	    color:white;
	}
	.pam-letters-before{
	    color:$pam-before-color;
	}
	.pam-letters-after{
	    color:$pam-after-color;
	}
    }

    .pam-before{
	color:$pam-before-color;
    }
    .pam-after{
	color:$pam-after-color;
    }
    tr.spacer-row{

	&:not(.selected){
	    cursor:pointer;
	}
	&.selected{
	    background-color:$selection-color;
	    color:white;
	}
    }
    

}