body.nickase{
    #nickase-container{
	padding-top:35px;
    }
    .content-area{
    }
    .page-header{
	&:not(h4){
	    margin-top:0px;
	}
    }
    
    .pane1{
	width:100%;
	label{
	    text-overflow:ellipsis;
	    overflow:hidden;
	    white-space:nowrap;
	}
	.radio{
	    padding-left:25px;
	}
	.main.graphics{
	    overflow:hidden;
	}
	display:inline-block;
    }
    .pane2{
	z-index:2;
	display:inline-block;
	.nicks-list{
	    position:relative;
	    max-height:300px;
	    padding-top: 5px;
	    max-height: 351px;
	    overflow-x:visible;
	    overflow-y:auto;
	}
    }
    .pane3{
	vertical-align:top;
	padding-top:30px;
	

    }
    .pane{
	&.left{
	position:relative;
	width:270px;
	display:inline-block;
	vertical-align:top;
	}
	&.right{
	    display:inline-block;
	    margin-left:25px;
	    margin-left:-270px;
	    padding-left:290px;
	    width:100%;
	    box-sizing:border-box;
	    position:relative;
	}
    }
    .panes{
	&.top{
	    position:relative;
	    white-space:nowrap;
	    >*{
		white-space:normal;
	    }
	}
    }
    table{
    	white-space:nowrap;
    }
    .nickase-tl-options{
	width:100%; 
	margin-bottom:5px;
	white-space:normal;

	form{
	    margin-left: 20px;
	    margin-bottom:0px;
	    .control-group{
		margin-bottom:0px;
	    }
	}

	.controls{
	    margin-left:10px;
	}
	.full-width-bottom{
	    position:relative;
	    width:100%;
	    .right{
		position:absolute;
		right:0px;
	    }
	}
    }
    .hover-helper{
	margin-left:33%;
	position:relative;
	color:rgba(0,0,0,.5);
	vertical-align:text-bottom;
    }

    
}
.scores-explanation{
    padding-top:10px;
    white-space:normal;
}
.graphics{
    height:300px;
    display:block;
    position:relative;
    width:100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border:lightgray solid 1px;
 
    &.locked{
	.svg-container{
	    pointer-events:none;
	    //opacity:.5;
	}

    }
    

}

body{
    &.locked{
	.top.panes{
	    //opacity:.25;
	}

    .click-grabber{
	display:block;
	pointer-events:auto;
    }
    }
    &:not(.locked){
	.bottom.panes{
	    //opacity:.25;
	}
    }
    
}
.click-grabber{

    pointer-events:none;
    cursor:pointer;
    position:absolute;
    display:none;
    z-index:10;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
}

.nick-active-highlight{
    opacity:0;
    &[active=true]{
	opacity:.05;
    }
}
.nick-svg-view-group{
    &:not([active=true])>text{
	opacity:0;
    }

    &:not([active=true])>line{
	opacity:.1;
    }
    &[active=true]{
	opacity:.9;
    }
}


.nickase-detail-view{
    &:not(.locked){
	//opacity:.3;
    }
    .page-header{
	padding-bottom:3px;
    }
    //SETS UP THE TITLE
    .full-width.header{
	width:100%;
	margin-bottom:20px;
	>*{
	    vertical-align:text-bottom;
	    margin-top:0px;
	    margin-bottom:0px;
	}
	.nickase-detail-title{
	    display:inline-block;
	    
	}
    }
    .cards{
	
	.card{
	    padding-top:50px;	
	    &.sequence-section{
		padding-top:10px;
		
		.sequence{color:rgba(0, 0, 0, .25);
			  &.selected{
			      color:black;
			  }
			 }
	    }
	    .qbox{
		position:absolute;
		top:0px;
		left:0px;
		right:0px;
		height:40px;
		padding-top:5px;
		padding-bottom:5px;
		padding-right:5px;
		border-bottom:1px dotted black;
		>span{
		    
		    display: block;
		    line-height: 40px;
		    color:white;
		    text-align:right;
		    font-size:300%;
		}
	    }
	    &.high{ .qbox{
		    background-color:rgba(desaturate(green, 25%), .25);
		    }
		    background-color:rgba(desaturate(green, 75%), .05);
		  }
	    &.medium{ .qbox{
		    background-color:rgba(desaturate(yellow, 25%), .25);
	    }
		    background-color:rgba(desaturate(yellow, 75%), .05);

		    }
	    &.bad{
		.qbox{
	    		    background-color:rgba(desaturate(red, 25%), .25);
	    }
	    		    background-color:rgba(desaturate(red, 75%), .05);

	    }

	    &.sequence-section{
		.sequence{
		    word-break:break-all;
		}
	    }
	}
    }
    .spacer{
	display:inline-block;
	width:auto;
	dt{
	}
	dd{
	    margin-left:10px;
	}	
    }
    .details-svg-container{
	margin-top:20px;
	margin-bottom:30px;
    }
    .sequence-details-container{
	margin-bottom:25px;
    }
    .sequence{
	font-family:courier;
    }
}

body.nickase{
    .nicks-list{
	border-bottom:1px dotted rgba(0, 0, 0, 0.1);
    }
} 
.job-list-v{
    &.nicks-list{
	.header{
	    padding:1em;
	    padding-bottom:0em;
	    font-style:italic;
	}
	table{
	}
    }
}



.nickase.list-row{
    &:not(.included){
	display:none;
    }
}