#readout{
    	margin-top:35px;
}

.left{
    text-align:left;
}
.center{
    text-align:center;
}


th{
    padding-left:5px;
    padding-right:5px;
}

svg{
    font-family:courier;
    font-size:10px;
}

.dna{
    font-family:courier;
}
.locus{
    font-family:courier;
}
.nrg{
    color:green;
    font-weight:bold;
}


.occupied{
    color:rgba(0, 0, 0, .75);
    text-decoration:underline;
}


.break-all{
    word-break:break-all;
}
.hover{
    display:none;
}
