


.gene-info{
    max-height:200px;
    font-family:courier;
    background-color:#EEEEEE;
    overflow-y:scroll;
    white-space: pre-wrap;
    
		    
    
}

.gene-helpers{
    padding-top:20px;
    padding-bottom:20px;
}

.gene-info-helpers{
    text-align:center;
    li{
	padding-left:20px;
	display:inline;
    }
}

//default styles from one of the styling examples for autocomplete js
.tt-input,.tt-hint {
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}



.selectize-input.selectize-input{
//    width:208px;
}
