#sequence_submission_area{
    min-width:325px;
}


#submit, #submit_v2{
    margin-top:50px;
    .tab-content{
	overflow:visible;
	.tab-pane{
	    padding-top:100px;
	    max-width: 600px;
	    margin-right: auto;
	    margin-left: auto;

	    .header-description{
		margin-top: -80px;
		margin-bottom:20px;
		position: absolute;
		text-align: center;
		left: 0px;
		right: 0px;
		color: #BBB;
		opacity: 1;
		font-size: 100%;
	    }
	}	
    }
    form{
	&.submitted {
	    cursor:wait;
	    .submit-group input{
		pointer-events:none;
		opacity:.5;
	    }
	    input[type='file']{
		width: 95px;
	    }
	}
    }
}

