/* line 1, ../../sass/pages/base.scss */
.footer {
  margin-top: 100px;
  border-top: 1px solid #efefef;
  padding-top: 1em;
  text-align: center;
}

/* line 8, ../../sass/pages/base.scss */
.inline {
  display: inline;
}

/* line 13, ../../sass/pages/base.scss */
.full-width {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

/* line 20, ../../sass/pages/base.scss */
body.submit, body.batch body.about, body.readout, body.nickase, body.job, body.downloads, body.splash_v2, body.submit_v2 {
  padding-left: 75px;
  padding-right: 75px;
}
/* line 24, ../../sass/pages/base.scss */
body.submit > .header, body.batch body.about > .header, body.readout > .header, body.nickase > .header, body.job > .header, body.downloads > .header, body.splash_v2 > .header, body.submit_v2 > .header {
  margin-left: -75px;
  margin-right: -75px;
}
/* line 30, ../../sass/pages/base.scss */
body .nav-tabs {
  margin-top: -36px;
  padding-right: 20px;
  border-bottom: 1px solid #eee;
}
/* line 34, ../../sass/pages/base.scss */
body .nav-tabs li {
  border-color: #eee;
  float: right;
}
/* line 37, ../../sass/pages/base.scss */
body .nav-tabs li > a {
  padding-top: 6px;
  padding-bottom: 6px;
}
/* line 43, ../../sass/pages/base.scss */
body .disabled {
  opacity: .4;
  color: black;
}

/* line 54, ../../sass/pages/base.scss */
body.submit .navbar > * {
  padding-left: 75px;
  padding-right: 75px;
}

/* line 62, ../../sass/pages/base.scss */
.alert.header {
  margin-bottom: 0px;
}

/* line 65, ../../sass/pages/base.scss */
.alert .content {
  max-width: 500px;
  margin: 0 auto;
}
/* line 66, ../../sass/pages/base.scss */
.alert .content.showing-less .text-fixed-width-content {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  opacity: .7;
}
/* line 74, ../../sass/pages/base.scss */
.alert .content > * {
  vertical-align: text-bottom;
}

/* line 85, ../../sass/pages/base.scss */
.med-left-margin {
  margin-left: 20px;
}

/* line 89, ../../sass/pages/base.scss */
.med-top-margin {
  margin-top: 20px;
}

/* line 92, ../../sass/pages/base.scss */
.small-left-margin {
  margin-left: 1em;
}

/* line 97, ../../sass/pages/base.scss */
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 104, ../../sass/pages/base.scss */
.disabled {
  color: lightgray;
  cursor: not-allowed;
}

/* line 109, ../../sass/pages/base.scss */
.sequence {
  font-family: courier;
}

/* line 113, ../../sass/pages/base.scss */
.v-middle {
  vertical-align: middle;
}

/* line 116, ../../sass/pages/base.scss */
.valid {
  position: fixed;
  width: 200px;
  right: 0px;
  background-color: #FEFEFE;
  border: 1px solid lightgray;
  padding: 20px;
  margin: 25px;
  bottom: 0px;
}
/* line 125, ../../sass/pages/base.scss */
.valid .dna {
  word-break: break-all;
}
/* line 128, ../../sass/pages/base.scss */
.valid li {
  margin-top: 10px;
}

/* line 134, ../../sass/pages/base.scss */
.showing-less > .more {
  display: none;
}

/* line 135, ../../sass/pages/base.scss */
.showing-more > .less {
  display: none;
}

/* line 144, ../../sass/pages/base.scss */
.section {
  padding: .5em;
  margin: 1em;
}

/* line 149, ../../sass/pages/base.scss */
.section.bad {
  border: 1px solid rgba(255, 0, 0, 0.3);
}
/* line 152, ../../sass/pages/base.scss */
.section.bad .header {
  color: red;
}

/* line 156, ../../sass/pages/base.scss */
.section.good {
  border: 1px solid rgba(0, 255, 0, 0.3);
}
/* line 159, ../../sass/pages/base.scss */
.section.good .header {
  color: green;
}

/* line 163, ../../sass/pages/base.scss */
.inactive {
  opacity: .25;
  pointer-events: none;
}
