/* line 7, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 {
  font-family: courier;
}
/* line 9, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .selection-slider-container {
  width: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
/* line 16, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .content-width-600 {
  width: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/* line 23, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .noUi-connect {
  background: blue;
}
/* line 27, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 h1, body.gene_results_v2 h2, body.gene_results_v2 h3, body.gene_results_v2 h4, body.gene_results_v2 h5, body.gene_results_v2 .biline {
  font-family: Helvetica Neue;
}
/* line 31, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 a.disabled {
  color: gray;
}
/* line 35, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 a.underline:link {
  text-decoration: underline;
}
/* line 38, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .header .title {
  margin-bottom: 25px;
}
/* line 43, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 table tr:first-child {
  border-bottom: 1px dashed lightgray;
  margin-bottom: 5px;
}
/* line 47, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 table th {
  vertical-align: bottom;
}
/* line 49, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 table th input, body.gene_results_v2 table th label {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 56, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .header-container {
  position: relative;
}
/* line 58, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .header-container .hiline {
  position: absolute;
  text-align: right;
  bottom: 0px;
  right: 0px;
}
/* line 67, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .ot-table-container.full .if-empty {
  display: none;
}
/* line 72, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .ot-table-container:not(.full) .if-full {
  display: none;
}
/* line 77, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .background-stripe {
  margin-left: -1000px;
  padding-right: 2000px;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #EFEFEF;
  height: 3em;
}
/* line 87, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #drawing {
  width: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/* line 95, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .exon-line {
  stroke: blue;
  stroke-width: 1;
}
/* line 99, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 rect.selected {
  stroke-width: 2px;
  stroke: blue;
}
/* line 104, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .fixed-width-header {
  margin-left: auto;
  margin-right: auto;
  width: 80ch;
  margin-bottom: 20px;
}
/* line 105, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .fixed-width-header .biline {
  color: black;
}
/* line 108, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .fixed-width-header h1, body.gene_results_v2 .fixed-width-header h2 {
  margin-top: 40px;
  margin-bottom: 0px;
  line-height: 1.4em;
}
/* line 119, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 80ch;
}
/* line 125, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers table {
  width: 100%;
}
/* line 128, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers .seq {
  padding-left: 10px;
  padding-right: 10px;
  font-family: courier;
}
/* line 133, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers .pam-before {
  color: #0072b2;
}
/* line 137, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers .pam-after {
  color: #009e73;
}
/* line 140, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers .cpf1 {
  color: white;
  background-color: #0072b2;
}
/* line 144, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers .cas9 {
  color: white;
  background-color: #009e73;
}
/* line 148, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers tr {
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 149, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers tr th {
  text-align: center;
}
/* line 152, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers tr td {
  text-align: center;
}
/* line 157, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 #hero-spacers tr .flag {
  padding-left: 4px;
  padding-right: 4px;
}
/* line 164, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .selection-left, body.gene_results_v2 .selection-right {
  font-family: courier;
  margin-left: -20em;
}
/* line 168, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .selection-viewer {
  font-family: courier;
  position: absolute;
}
/* line 172, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .selection-left-viewer {
  right: 50%;
}
/* line 175, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .selection-right-viewer {
  left: 50%;
}
/* line 179, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 a:link {
  text-decoration: underline;
}
/* line 182, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .pam.before {
  color: green;
}
/* line 186, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .pam.after {
  color: red;
}
/* line 190, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .line.one {
  white-space: nowrap;
}
/* line 192, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .line.one > * {
  white-space: nowrap;
}
/* line 195, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 ul {
  padding-left: 0px;
}
/* line 200, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .tool-view-container h2 {
  text-align: center;
}
/* line 205, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 li {
  list-style: none;
}
/* line 209, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .header-guides {
  font-family: courier;
  max-height: 100px;
  overflow-y: scroll;
  margin-bottom: 30px;
}
/* line 210, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .header-guides h4 {
  text-align: center;
}
/* line 213, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .header-guides .spacer-list {
  text-align: center;
}
/* line 226, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .download-gb {
  color: black;
  display: none;
}
/* line 229, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .download-gb a:link {
  color: blue;
}
/* line 235, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .margin-spacer {
  border-width: 1px;
  border-style: solid;
  padding: 4px;
  background-color: lightgray;
}
/* line 242, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .margin-spacer.margin-spacer.highlighted {
  background-color: white;
  z-index: 10;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
/* line 249, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .guide.cas9 .margin-spacer:not(.highlighted) {
  border-color: red;
}
/* line 252, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .guide.cas9 .margin-spacer.highlighted .line.one {
  background-color: red;
  color: white;
}
/* line 259, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .guide.cpf1 .margin-spacer:not(.highlighted) {
  border-color: green;
}
/* line 262, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .guide.cpf1 .margin-spacer.highlighted .line.one {
  background-color: green;
  color: white;
  border-color: green;
}
/* line 273, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .text-spacer:not(.highlighted) {
  display: none;
}
/* line 276, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .text-spacer {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  opacity: .9;
  color: black;
  text-align: center;
}
/* line 286, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .text-spacer .download-gb {
  display: block;
  color: black;
}
/* line 296, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .margin-spacer.highlighted .pam {
  color: white;
}
/* line 299, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .margin-spacer.highlighted .download-gb {
  display: block;
  color: black;
}
/* line 305, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters {
  width: 80.5ch;
  margin-left: auto;
  margin-right: auto;
  font-family: courier;
  overflow: hidden;
  word-break: break-all;
}
/* line 311, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .guide.cas9 .margin-spacer {
  left: 0px;
  margin-left: -300px;
  text-align: left;
}
/* line 318, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .guide.cpf1 .margin-spacer {
  left: 50%;
  margin-left: 48ch;
  text-align: left;
}
/* line 324, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .margin-spacer {
  font-family: courier;
  color: black;
  position: absolute;
  width: 300px;
}
/* line 331, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .exon {
  color: black;
  font-weight: bold;
}
/* line 335, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .exon, body.gene_results_v2 .gene-view-container .gene-view .letters .intron {
  display: block;
}
/* line 339, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .exon-helper {
  position: absolute;
  width: auto;
  text-align: right;
  width: 200px;
  margin-left: -220px;
}
/* line 347, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .intron {
  opacity: .3;
}
/* line 349, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .intron .firstline, body.gene_results_v2 .gene-view-container .gene-view .letters .intron .lastline {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/* line 354, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .intron .before-middle {
  content: "...";
  text-align: center;
  height: 10px;
  display: block;
}
/* line 360, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .intron .middle {
  display: none;
}
/* line 368, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters a.white {
  color: white;
}
/* line 371, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters a.white:link {
  color: white;
}
/* line 374, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .guide {
  background-color: red;
  color: white;
  padding: 0px;
  word-break: break-all;
}
/* line 381, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .guide.cas9 {
  background-color: #009e73;
}
/* line 384, ../../sass/pages/gene_results_v2.scss */
body.gene_results_v2 .gene-view-container .gene-view .letters .guide.cpf1 {
  background-color: #0072b2;
}
